.parcel-cache

# Ignoring main README for now because generated Table of Contents adds a line that prettier removes
# in precommit hook, causing `yarn lint:readme` to fail
/README.md
/packages/core/parcel/README.md