//partials
// @forward './_navbar.scss';
// @forward './_animations.scss';
@forward './_mixins.scss';
@forward './_colors.scss';
@forward './_variables.scss';
// @forward './mediaqueries.scss';
//modules 
// @forward './loaders.scss';
// @forward './splide.module.scss';